[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = sebitabravo
	email = sebastianalejandrobravocampos@gmail.com
[init]
  defaultBranch = main
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
	graph = log --oneline --graph --all
